.logo {
  display: block;

  font-family: $logo-font;
  color: $primary-white-color;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  animation-duration: 800ms;

  &__span {

    &--green {
      color:  $accent-color_2;
    }
    &--orange {
      color:  $accent-color_1;
    }
  }
  &--white {
    color: #ffffff;
  }

  &__link {
    color: $accent-color_2;
  }
}
