.table {
      margin: 0 auto;
      border: 1px solid #797474;
      color: #ffffff;
      padding: 8px;

      & th {
            border: 1px solid #797474;
            padding: 10px;
      }

      & td {
            max-width: 450px;
            border: 1px solid #797474;
            padding: 8px;
            //text-align: ;
      }
}