$main-font: "Open Sans", sans-serif;
$logo-font: "Raleway", sans-serif;
$primary-title-color: #212121;
$primary-white-color: #FFD640;
$primary-white-color: #ffffff;
$description-color: #757575;
$accent-color_1:  #3cdee4;
$accent-color_2:  #c6ec3b;
$accent-form-color: #ffa600;
$transparent-white: rgba(255, 255, 255, 0.6);
$social: #afb1b8;
